html, body {
    margin: 0;
    padding: 0;
}




.container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: #bbe6e7;
    max-width: 100% !important;
}

#signup {
    width:100%;

}


#login {
    margin-top: 20px;
    width: 100%;
}

#nappi {
    margin-top: 10px;
}

#loginnappi {
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar {
    width: 100%;
    justify-content: center !important;
    background-color: #71caca;
}

.logo {
    width: 20%;
}

