html, body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: #bbe6e7;
    color: #131313;
}

/* YLÄPALKKI */
.navbar {
    width: 100%;
    justify-content: center !important;
    background-color: #71caca;
}

.logo {
    width: 20%;
}


/* VIDEO PLAYER     video hls muodossa */ 
.video-js {
    font-size: 10px;
}

.video-js .vjs-poster {
    background-color: #252525 !important;
}

.video-js .vjs-big-play-button {
    background-color: #71caca !important;
    left: 45% !important;
    top: 45% !important;
}

/* DESCRIPTION */
.desc {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #71caca;
    text-align: left;
}

@media only screen and (max-width: 500px) {
    .video-js .vjs-big-play-button {
        left: 45% !important;
        top: 45% !important;
        width: 43px !important;
        height: 21px !important;
        font-size: 2em !important;
        line-height: 1em !important;
    }
}