html, body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: #e9e9e9;
}

/* YLÄPALKKI */
.navbar {
    width: 100%;
}


/* VIDEO PLAYER     video hls muodossa */ 
.video-js {
    font-size: 10px;
    background-color: #000000;
}

.video-js .vjs-big-play-button {
    background-color: #008177 !important;
    left: 40% !important;
    top: 40% !important;
}

.embed-responsive-16by9::before {
    padding: 5px !important;
}

/* DESCRIPTION */
.desc {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #ffffff;
    text-align: left;
}

